# Node modules
node_modules/

# Build directories
/dist/
/build/

# Logs
*.log

# Environment files
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Testing coverage
coverage/

# Dependency directories
jspm_packages/

# Runtime files
pids/
*.pid
*.seed
*.pid.lock

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*